@import 
url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
*{
    font-family: 'Roboto Condensed';
  }
  html, body {
    margin: 0%;
    height: 100%;
}
main{
    
    min-width: 350px;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
main > div > img {
    height:70%;
}
main > div {
    background-color: var(--aurora);
    overflow: hidden;
    height: 80vh;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content:space-around;
}
form{
    display: flex;
    align-items: center;
    width: 60%;
    height: 70%;
    font-size: 15px;
    padding: 5%;
    border-radius: 4%;
    max-width: 350px;
    min-width: 300px;
    max-height: 700px;
    min-height: 500px;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.36);
}
main{
    height: 100vh;
    width: 100%;
}
.container_for{
    margin: 0%;
    list-style: none;
}
#container_img_perfil{
    display: flex;
    justify-content: center;
    margin-bottom: 15%;
    margin-top: 0%;
}

#img_perfil{
    height:200px;
    object-fit: cover;
}

.my_form_input{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.my_form_input > label {
    margin-bottom: 3px;
    color:var(--primary);
    font-size: 1.2rem;
}
.my_form_input > input {
    outline-style: none;
    border: none;
    background: none;
    max-height: 20px;
    padding-top: 10px;
    width: 30vh;
    border: solid #161229 2px;
    min-width: 150px;
    border-radius: 0.5rem;
}
.my_form_input > input:hover {
    border: solid #161229 2px;
    transition: 0.5s;
}
.my_form_input > input:focus {
    border: solid #161229 2px;
}
#container_submit{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin-top: 10%;
}
#submit{
    list-style-type: none;
    padding-top: 0%;
    padding-bottom: 0%;
    width: 100%;
    height: 50%;
    min-height: 20px;
    border-radius: 8px;
    font-size: 1.5rem;
    border:none;
    background-color: var(--secundary);
}
#submit:active{

    border: solid #161229;
    
}
#submit:hover{
 
    border: solid #161229;
    transform:scale(1.2);
    cursor: pointer;
}
#password,#contraseña,#usuario{
    margin-left:0%;
}
#text_checkbox{
    margin-top: 10%;
    display: flex;
    justify-content: center;

}
#text_checkbox > label{
    font-size: 1.2rem;
}
#checkbox {
    width: 1.15em;
    height: 1.15em;
}
#checkbox:hover {
    width: 15px;
    height: 15px
}

.container_fondo{
    position: absolute;
    z-index: -1;
    height: 99.7vh;
    width: 100%;
    background-color: #161229;
}
#img_fondo{
    filter: blur(15px);
    width: 100%;
    height: 100%;
}