@import
url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
*{
font-family: 'Roboto Condensed';
}

body{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -2;
}

main{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85%;
  width: 100%;
}
#background{
  overflow: hidden;
  height: 93%;
  position: absolute;
  z-index: -1;
  width: 100%;
}
#background > img{
  object-fit: cover;
  height: 100%;
  width: 100.1%;
  
}
.folleto{
  
  position: absolute;
  z-index: 2;
  padding-left: 20px;
  padding-right: 20px;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 3%;
  backdrop-filter: blur(1px);
  background-color: rgba(0, 0, 0, 0.725);
  opacity: 0.9; 
  -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity= 14); 
  filter: alpha(opacity= 14);
  box-shadow: 20px 7px 15px 20px rgba(0, 0, 0, 0.725);
  color: #fff;
  margin-left: 0;

}
#foto{
  overflow: visible;  
  height:40%;
  width: 40%;
}
#foto > img {
  
  width: 80%;
  height: 80%;
}
.contenido{
    margin-top:5px;
}
.container_menu_two{
    position: fixed;
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.menu_two{
  transition: all 0.5s;
    position: fixed;
    backdrop-filter: blur(1px);
    background-color: rgba(0, 0, 0, 0.208);
    display: flex;
    align-items: center;
    margin-top: 5%;
    width:23px;
    height: 50%;
    
}
.menu_two.select{
    width: 200px;
}

#opciones{
    background-color: rgba(0, 0, 0, 0.199);
    backdrop-filter: blur(1px);
    width: 100%;
    height: 100%;
}
.menu_two > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #ffffffbd;
    backdrop-filter: blur(2px);
}
.menu_two > div:hover{
    background-color: rgba(0, 0, 0, 0.396);
}
#opciones > ul {
    width: 100%;
    padding: 0;
}
#opciones > ul > li{
    padding-left: 0px;
    text-align: center;
    width: 100%;
    list-style: none;
    padding-top: 3px;
    padding-bottom: 3px;   
}
#opciones > ul > li > a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
#opciones > ul > li:hover{
    background-color: black;
}
.container_cards{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.container_card{
    width: 650px;
    display: flex;
    flex-direction: row;
    height:500px;

}
.card{

    width: 60%;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    box-shadow: 20px 0px 25px 0px rgba(0, 0, 0, 0.395);
    background: #FFFFFF;
    background: linear-gradient(to top, #FFFFFF 0%, #050100 100%);
}
.container_card_foto{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.card_foto{
    height: 200px;
    width: 200px;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
}
.ficha_tecnica{
    width:24px;
    height: 100%;
    display: flex;
    overflow: hidden;
    transition: all 1s;

}
.container_table{
    display: flex;
    align-items: center;
    width: 100%;
    height:100%;
    padding: 0%;
    margin-left: 5px;
    box-shadow: 5px 0px 10px 0px rgba(0, 0, 0, 0.485);
}
.ficha_tecnica.total {
    width: 100%;
}
.right_arrow{
    display: flex;
    align-items: center;
    height: 100%;
    width: 30px;
    background-color:#e6e6e6;

}
.right_arrow:hover{
    background-color: rgba(0, 0, 0, 0.345);
}
.card_foto:hover{
    transform: scale(1.2);
}
.sections{
    margin-top: 100vh;
    height: 100vh;
    position: absolute;
    z-index: 1;
    display: grid;
    grid-template-columns: auto auto;
    align-content: stretch;
    margin-left: 10%;

}
.titulo{
  background: #121FCF;
  background: linear-gradient(to right, #121FCF 0%, #170202 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
   position: absolute;
   z-index: -2;
    text-align: center;
    font-size: 60px;

}
.container_titulo{
    text-align: center;
    margin-bottom: 30px;
    width: 50%;
    height: 100px;
    
}


/*SECTIONS*/


section{
  width:600px;
}

/*************/

/*margis sections*/




/********************7


/*footer*/
#footer{
  background-color: #ffffff;
  height: 50px;
  width: 100%;
  margin-top:360vh;
  box-shadow: 0px 0px 13px 6px rgba(0, 0, 0, 1);
}
.container_items_footer{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.container_items_footer > li {
  list-style: none;
}
.container_items_footer > li > a > img {

  height: 50px;
}


/************/


/*style table*/
table.blueTable {
    border: 1px solid #0E3550;
    height: 85%;
    text-align: center;
    border-collapse: collapse;

  }
  table.blueTable td, table.blueTable th {
    border: 1px solid #AAAAAA;
  }
  table.blueTable tbody td {
    font-size: 13px;
  }
  table.blueTable tr:nth-child(even) {
    background: #CACACA;
  }
  table.blueTable thead {
    background: #000000;
    background: -moz-linear-gradient(top, #404040 0%, #191919 66%, #000000 100%);
    background: -webkit-linear-gradient(top, #404040 0%, #191919 66%, #000000 100%);
    background: linear-gradient(to bottom, #404040 0%, #191919 66%, #000000 100%);
    border-bottom: 2px solid #444444;
  }
  table.blueTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 2px solid #9EAEBA;
  }
  table.blueTable thead th:first-child {
    border-left: none;
  }
  
  table.blueTable tfoot td {
    font-size: 14px;
  }
  table.blueTable tfoot .links {
    text-align: right;
  }
  table.blueTable tfoot .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
  }


